@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-color {
  background-color: #f8f7f5;
}

.border-rating-90 {
  border: 2px solid #00ff00;
}
.border-rating-80 {
  border: 2px solid #33ff00;
}
.border-rating-70 {
  border: 2px solid #66ff00;
}
.border-rating-60 {
  border: 2px solid #99ff00;
}
.border-rating-50 {
  border: 2px solid #ccff00;
}
.border-rating-40 {
  border: 2px solid #ffff00;
}
.border-rating-30 {
  border: 2px solid #ffcc00;
}
.border-rating-20 {
  border: 2px solid #ff9900;
}
.border-rating-20 {
  border: 2px solid #ff6600;
}

.border-rating-0 {
  border: 2px solid #ff0000;
}

.custom-box-shadow {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.custom-box-shadow-sm {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
